.header {
    background-color: #e5e5e5;
    margin: 0;
}

.header_container {
    margin: 0 auto;
}

.logo {
    float: left;
}

a {
    text-decoration: none;
    color: #006dcc;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #006dcc;
}

.auth {
    float: right;
}

.content {
    margin-top: 30px;
}

#notifications {
    text-align: center;
    margin: 20px 0;
    height: 30px;
}

#notifications * {
    display: none;
}

#invite_friend {
    position: absolute;
    top: 103px;
    right: 455px;
}

#invite_friend input {
    float: left;
    width: 300px;
}

.game_field {
    margin-top: 30px;
}

.battle_field {
    border-collapse: collapse;
    margin: 0 auto;
}

.battle_field tr td {
    width: 30px;
    height: 30px;
    border: #b4b4ff 1px solid;
}

.cell, .enemy_cell {
    width: 30px;
    height: 30px;
    padding: 0;
}

.cell:hover, .enemy_cell:hover {
    background-color: rgba(0, 255, 255, 0.1);
}

.cell[data-value="1"] {
    background-color: rgba(0, 0, 255, 0.15);
}

.ships_pool {
    display: none;
    position: absolute;
    width: 300px;
}

.pool_line {
    height: 30px;
    margin: 15px 5px !important;
}

.ship {
    float: left;
    z-index: 999;
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.05);
}

.ship_container {
    margin-right: 30px;
    height: 30px;
    float: left;
}

.ship_4 {
    width: 120px;
}

.ship_3 {
    width: 90px;
}

.ship_2 {
    width: 60px;
}

.ship_1 {
    width: 30px;
}

.deck4[data-position="h"] {
    height: 29px;
    width: 120px;
}

.deck4[data-position="v"] {
    height: 120px;
    width: 29px;
}

.deck3[data-position="h"] {
    height: 29px;
    width: 90px;
}

.deck3[data-position="v"] {
    height: 90px;
    width: 29px;
}

.deck2[data-position="h"] {
    height: 29px;
    width: 60px;
}

.deck2[data-position="v"] {
    height: 60px;
    width: 29px;
}

.deck1[data-position="h"] {
    height: 29px;
    width: 30px;
}

.deck1[data-position="v"] {
    height: 29px;
    width: 30px;
}

.place_ships {
    width: 230px !important;
    float: none !important;
    margin: 20px auto !important;
}

.place_ships a {
    cursor: pointer;
}

#constructor, #constructor_close {
    float: right;
}

#constructor_close {
    display: none;
}

footer {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #e5e5e5;
}